/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  padding-block: 100px;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--weight-font-normal);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: var(--border);
  padding-block: clamp(7.625rem, 7.449rem + 0.751vw, 8.125rem);
  background-color: var(--background-color);
  inline-size: var(--block-width);
}

.logo {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-decoration: none;
}

.content__title {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content-section,
.content-section__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.block__card {
  border: var(--border);
  background-color: var(--background-color);
  inline-size: var(--block-width);
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--weight-font-bold);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  max-height: 100%;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
}

.image__blur {
  filter: blur(0.2rem);
}

.image__grayscale {
  filter: grayscale(0.9);
}

.image__saturate__sepia {
  filter: saturate(3.9) sepia(0.6);
}

.image__hue-rotate__invert {
  filter: hue-rotate(0.7turn) invert(1);
}

.image__brightness {
  filter: brightness(50%);
}

.image__saturate {
  filter: saturate(0.9);
}

.image__contrast {
  filter: contrast(1.5);
}

.label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.block__paragraph {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 26px 25px;
}

.item__paragraph {
  font-size: 18px;
  line-height: 117%;
}

.block__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--background-color);
  transition: border-color 0.3s ease;
  /* max-block-size: 38px;
  max-inline-size: 38px; */
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.button {
  position: relative;
  border: var(--border);
  overflow: hidden;
  color: var(--light-color);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::after {
  transform: scaleX(1);
}

.card__like-button {
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s;
}

.card__save-button .floppy-icon {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__text__modal {
  text-transform: uppercase;
}

.card__save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.modal {
  display: none;
}

.modal[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 26px;
  border: var(--border);
  padding: 30px;
  max-inline-size: 353px;
}

.modal[open]::backdrop {
  opacity: 0.75;
  background: var(--accent-color);
}

body:has(.modal[open]) {
  overflow: hidden;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__content__title {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.card__ok-button {
  padding: 9px 17px;
}

@media (width <= 375px) {
  .card__save-button {
    flex-direction: column;
  }

  .modal[open] {
    padding: 30px 40px;
  }

  .card__save-button .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
