/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --weight-font-normal: 410;
  --weight-font-bold: 715;
  --background-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(0, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --background-color: #fff;
  --border: 2px solid #000;
  --stroke-color: #fff;
  --accent-color: #000;
  --light-color: #fff;
  --contour-color: #000; 
  --animation-fill-color: #ff0000;
}